.tabs {
    width: 236px;
    height: 72px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 30px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
}

.row-setup {
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    align-content: center;
}

.upg-button-setup {
    width: 100px;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 25px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
}

.column-setup {
    flex-grow: 1;
    align-self: center;
    width: 126px;
    min-width: 0;
    max-width: 195px;
    height: 379px;
    justify-content: space-evenly;
    align-items: stretch;
    max-height: 335px;
}
