.tabs {
    width: 236px;
    height: 72px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 42px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.row-setup {
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    align-content: center;
}

.upg-button-setup {
    width: 120px;
    height: 120px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 30px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.column-setup {
    flex-grow: 1;
    align-self: center;
    width: 126px;
    min-width: 0;
    max-width: 195px;
    height: 379px;
    justify-content: space-evenly;
    align-items: stretch;
    max-height: 335px;
}

.pause-menu-button {
    align-self: center;
    width: 215px;
    height: 85px;
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(75, 75, 75);
    border-right-color: rgb(75, 75, 75);
    border-top-color: rgb(75, 75, 75);
    border-bottom-color: rgb(75, 75, 75);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.combo-base {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-color: rgb(147, 60, 60);
    max-width: 285px;
    max-height: 315px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    min-width: 20%;
    min-height: 50%;
}
