.tabs {
    width: 292px;
    height: 82px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
}

.pause-menu-button {
    align-self: center;
    width: 215px;
    height: 85px;
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(75, 75, 75);
    border-right-color: rgb(75, 75, 75);
    border-top-color: rgb(75, 75, 75);
    border-bottom-color: rgb(75, 75, 75);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.combo-base {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-color: rgb(147, 60, 60);
    max-width: 285px;
    max-height: 315px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    min-width: 20%;
    min-height: 50%;
}

.Upgrade-Cat-Txt {
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/UI/UI%20Assets/Born2bSportyFS.otf?fileID=12800000&guid=613e0e57669d6a0438189fe9f6bc7238&type=3#Born2bSportyFS");
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.skill-tree-setup {
    flex-grow: 1;
    position: absolute;
    height: 900px;
    width: 1528px;
}

.upgrade-button {
    width: 155px;
    height: 155px;
    font-size: 0;
}

.upgrade-button:focus {
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

.upg-row-setup {
    flex-grow: 1;
    flex-direction: row;
    height: 180px;
    position: absolute;
    width: 1528px;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
}

.synergy {
    flex-grow: 0;
    width: 450px;
    height: 486px;
    flex-shrink: 0;
    padding-right: 5px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
